.profxps_div{
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: #F7EBE8;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.profxp_card{
    background-color: #313032;
    min-height: 9.5rem;
    min-width: 9rem;
    max-width: 20rem;
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
    flex-flow: column;
    padding: 0.5rem;
}
.profxps_grid{
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
    justify-content: center;
    /* overflow-y: scroll; */
    max-height: 60vh;
    max-width: 90vw;
    
}

.profxp_icon{
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    background-color: #E7DCD9;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}
.profxp_card span{
    
    color: white;
    margin: 0.5rem;
}





    .profxp_card .profxp_position{
        font-size: 2.25rem;
    }

    

    .profxp_card .profxp_place{
        font-size: 1.50rem;
    }

    .profxp_card .profxp_duration{
        font-size: 1.25rem;
    }
    

a, a:visited, a:hover, a:active {
    color: white;
    text-decoration: none;
}